#overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    
}
#overlayinfo{
    height: 60vh;
    width: 93%;
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 13px;
    padding: 20px;
}
#tele{
    display: none;
}
h1{
    color: red;
}
.levelup{
width: 100%;
text-align: center;

}
.levelup img{
width: 80%;
}